//- Include used template for this page
extends ../../templates/default

//- VARIABLES FOR INCLUDE THIS IN USED TEMPLATE
block variables
    - let title       = 'Quiz24 test work'
    - let description = 'Write description for the page here'
    - let keywords    = 'Write keywords for the page here'
    - let pageClass   = 'page-index'

block content
    //- include path_to_file_from_this_place