@import "../scss/variables";

*,
*:before,
*:after {
    box-sizing: border-box;
    border: none;
    padding: 0;
    outline: none !important;
}

//body, html, main {
//    height: 100%;
//}

body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: $font-color;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 50px 0;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

input {
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &::-webkit-input-placeholder {
        color: $font-color;
        opacity: 1;
        transition: opacity 0.2s ease;
    }

    &::-moz-placeholder {
        color: $font-color;
        opacity: 1;
        transition: opacity 0.2s ease;
    }

    &:-moz-placeholder {
        color: $font-color;
        opacity: 1;
        transition: opacity 0.2s ease;
    }

    &:-ms-input-placeholder {
        color: $font-color;
        opacity: 1;
        transition: opacity 0.2s ease;
    }

    &:focus::-webkit-input-placeholder {
        color: $font-color;
        opacity: 0;
        transition: opacity 0.2s ease;
    }

    &:focus::-moz-placeholder {
        color: $font-color;
        opacity: 0;
        transition: opacity 0.2s ease;
    }

    &:focus:-moz-placeholder {
        color: $font-color;
        opacity: 0;
        transition: opacity 0.2s ease;
    }

    &:focus:-ms-input-placeholder {
        color: $font-color;
        opacity: 0;
        transition: opacity 0.2s ease;
    }
}

// Удаление иконки очистки поля в IE
input[type="text"]::-ms-clear {
    display: none;
}

// Удаление иконки отображения пароля в IE
input[type="password"]::-ms-reveal {
    display: none;
}

.accent {
    color: $color-accent !important;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: linear-gradient(180deg, #A1DEFF 0%, $color-border 100%);
    border: 1px solid #AEE3FF;
    box-sizing: border-box;
    box-shadow: 0 3px 0 #0071AD, 0 19px 20px -11px rgba(99, 186, 232, 0.7);
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: $color-background;
    transition: all .3s linear;
    margin: 0 auto;
    transition: all .3s linear;

    @media (min-width: $sm) {
        margin: initial;
    }

    &:hover {
        box-shadow: 0 2px 0 #0071AD, 0 10px 10px -11px rgba(99, 186, 232, 0.7);
    }

    &.inactive {
        background: linear-gradient(180deg, #d3d3d3 0%, #ababab 100%);
        border: 1px solid #dadada;
        box-shadow: 0 3px 0 #aaaaaa, 0 19px 20px -11px #dadada;
        cursor: not-allowed;
    }

    &_next {
        padding-left: 49px;
        padding-right: 48px;

        &::after {
            content: "";
            display: inline-block;
            position: relative;
            width: 25px;
            height: 16px;
            margin-left: 10px;
            background: url("/img/icon-arr-to-right.svg") center no-repeat;
        }
    }

    &_send {
        width: 100%;
        max-width: 288px;
        text-align: center;
        font-size: 16px;
    }
}